$mobile: "only screen and (max-width : 667px)";
.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  position: relative;
  height: 100vh;
  width: 100%;
  .about-me {
    display: flex;
    width: 800px;
    gap: 30px;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      animation: slideDown 2s ease-in-out forwards;
      position: relative;
      font-size: 2rem;

      font-weight: 900;
      color: #fff;
      position: relative;
      top: -100px;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-shadow: 0 0 4px hsla(0, 0%, 100%, 0.55),
        0 0 30px hsla(0, 0%, 100%, 0), 0 0 80px #fff;
      text-align: center;
    }
    .btn {
      position: relative;
      button {
        margin-top: 40px;
        position: relative;
        width: 180px;
        text-transform: uppercase;
        line-height: 50px;

        background: none;
        text-decoration: none;
        border: 1px solid white;
        color: #fff;
        animation: buttonSlide 2s ease-in-out forwards;
        font-weight: 800;
        box-shadow: 0 0 4px hsla(0, 0%, 100%, 0.55),
          0 0 30px hsla(0, 0%, 100%, 0), 0 0 80px black;
        text-shadow: 0 0 4px hsla(0, 0%, 100%, 0.55),
          0 0 30px hsla(0, 0%, 100%, 0), 0 0 80px #fff;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }

    .about-details {
      font-size: 1.2rem;
      display: flex;
      opacity: 0.8;
      @media #{$mobile} {
        text-align: center;
      }
    }
  }
}

@keyframes slideDown {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
@keyframes buttonSlide {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
